In [ ]:
import numply as np
import pandas as pd

Merging 2 dataframes

In [33]:
employees = pd.DataFrame({
    'employee_id':[1,2,3,4,5],
    'name':['John','Anna','Peter', 'Linda','Bob'],
    'department':['HR','IT','Finance','IT','HR']
})
# dataframe-2
salaries = pd.DataFrame({
    'employee_id':[1,2,3,6,7,8],
    'salary':[60000,80000,65000,70000,90000],
    'bonus':[5000,10000,70000,80000,12000]
})

NameError: name 'pd' is not defined

In [55]:
employees

NameError: name 'employees' is not defined

In [31]:
employees

NameError: name 'employees' is not defined

In [57]:
pd.marge(employees,salaries)

NameError: name 'pd' is not defined